/** 
 * Contents
 * 1 .- Reset
 * 2 .- Colors
 */

/** 
 * 1 .- Reset
 */

*,
*:after,
*:before {
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

/** 
 * 2 .- Colors
 */

$white: #f8f8f8;
$fluor-green: #b6d6be;
$fluor-pink: #efd0ca;
$dark-grey: #6f686d;
$black: #000100;
