<form [formGroup]="todoForm" (ngSubmit)="lock()">
    <div class="inputs">
        <input type="text" formControlName="id" [placeholder]="id" required readonly>
        <input type="text" formControlName="todo" placeholder="todo" required [readonly]="locked">
        <input type="text" formControlName="description" placeholder="description" [readonly]="locked">

    </div>
    <div class="buttons">

        <button (click)="unlock()" [disabled]="!locked">Unlock</button>
        <button type="submit" [disabled]="locked && !todoForm.valid">Lock</button>

    </div>
</form>